{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="heading-txt" style="font-size: 2em; margin-bottom: 3%; text-align: center;">Contact</h1>
        <div style="margin-top: 5%;display: flex; justify-content: space-evenly; flex-wrap: wrap;">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Contact Information</div>
            <div class="card-body">
                <h5 class="card-title">Customer Care</h5>
                <p class="card-text">Name: Zuhaib Hashim </br> Mobile: 0923334689 </br> Email: zuhaib@dealership.com </p>
            </div>
        </div>
               
    </div>
{% endblock %}